<a href="https://colab.research.google.com/github/azganushpoghosyan/fidap/blob/main/Onboarding_sample_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade fidap

Collecting fidap
  Downloading https://files.pythonhosted.org/packages/9d/7c/a128c6027632c23a2d73770f745b2f496bb5656fad0205d07404bd260dc7/fidap-0.0.15-py3-none-any.whl
Requirement already satisfied, skipping upgrade: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from fidap) (1.1.5)
Collecting delta-sharing
  Downloading https://files.pythonhosted.org/packages/80/30/c4a2454eb2bf7b9a4eafb14bd7835a3aee1d84c212257300eeac00a30552/delta_sharing-0.1.0-py3-none-any.whl
Collecting python-dotenv>=0.15.0
  Downloading https://files.pythonhosted.org/packages/5c/0c/9c5d5dd254e9e7a32d34777cc6fd33cbeb174744061458b88470aecbd1d6/python_dotenv-0.18.0-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from fidap) (1.19.5)
Requirement already satisfied, skipping upgrade: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from fidap) (2.23.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->fidap) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->fidap) (2.8.1)
Requirement already satisfied, skipping upgrade: pyarrow in /usr/local/lib/python3.7/dist-packages (from delta-sharing->fidap) (3.0.0)
Collecting fsspec
  Downloading https://files.pythonhosted.org/packages/40/e1/7111d8afc76ee3171f4f99592cd29bac9d233ae1aa34623011506f955434/fsspec-2021.7.0-py3-none-any.whl (118kB)
     |████████████████████████████████| 122kB 9.7MB/s
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/88/c0/5890b4c8b04a79b7360e8fe4490feb0bb3ab179743f199f0e6220cebd568/aiohttp-3.7.4.post0-cp37-cp37m-manylinux2014_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 12.4MB/s
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->fidap) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->fidap) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->fidap) (2021.5.30)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->fidap) (3.0.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.14->fidap) (1.15.0)
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied, skipping upgrade: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delta-sharing->fidap) (3.7.4.3)
Requirement already satisfied, skipping upgrade: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->delta-sharing->fidap) (21.2.0)
Collecting multidict<7.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/7c/a6/4123b8165acbe773d1a8dc8e3f0d1edea16d29f7de018eda769abb56bd30/multidict-5.1.0-cp37-cp37m-manylinux2014_x86_64.whl (142kB)
     |████████████████████████████████| 143kB 32.0MB/s
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/f1/62/046834c5fc998c88ab2ef722f5d42122230a632212c8afa76418324f53ff/yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294kB)
     |████████████████████████████████| 296kB 31.0MB/s
Installing collected packages: fsspec, async-timeout, multidict, yarl, aiohttp, delta-sharing, python-dotenv, fidap
Successfully installed aiohttp-3.7.4.post0 async-timeout-3.0.1 delta-sharing-0.1.0 fidap-0.0.15 fsspec-2021.7.0 multidict-5.1.0 python-dotenv-0.18.0 yarl-1.6.3

In [3]:
from fidap import fidap_client

In [4]:
fidap = fidap_client(api_key="e5bb3c8567d14dd28923d1cdbe0560a4")

In [5]:
df = fidap.sql(
"""
SELECT name, Median_Income_Person
FROM fidap-301014.datacommons.states
ORDER BY Median_Income_Person DESC
"""
)

In [6]:
display(df)

                    name  Median_Income_Person
0   District of Columbia                 49542
1               Maryland                 40341
2             New Jersey                 38238
3          Massachusetts                 37886
4            Connecticut                 37865
5              Minnesota                 36076
6             Washington                 35989
7               Colorado                 35887
8          New Hampshire                 35807
9                 Hawaii                 35515
10          North Dakota                 35499
11              Virginia                 35421
12                Alaska                 34018
13              Delaware                 33628
14              New York                 33562
15              Illinois                 32495
16          Rhode Island                 32256
17             Wisconsin                 32009
18               Wyoming                 31974
19            California                 31960
20              Nebraska                 31933
21                  Iowa                 31707
22               Vermont                 31492
23                Nevada                 31206
24          Pennsylvania                 31099
25          South Dakota                 31033
26                Kansas                 31017
27                  Utah                 30801
28                Oregon                 30710
29                 Texas                 30596
30               Arizona                 30216
31                  Ohio                 30171
32               Indiana                 30005
33               Georgia                 29958
34                 Maine                 29808
35              Michigan                 29672
36              Missouri                 29649
37        North Carolina                 28836
38               Montana                 28409
39               Florida                 27936
40              Oklahoma                 27637
41             Tennessee                 27607
42        South Carolina                 27366
43                 Idaho                 27243
44              Kentucky                 26653
45             Louisiana                 26295
46               Alabama                 26231
47            New Mexico                 25881
48              Arkansas                 25758
49         West Virginia                 25320
50           Mississippi                 24509
51           Puerto Rico                 13547